name: run News_collector.py

on:
  #schedule:
  #  - cron: '0 9 * * *' # At 09:00 every day
    
  workflow_dispatch:

permissions:                    # Global permissions configuration starts here
  contents: read                # 'read' access to repository contents
  pull-requests: write          # 'write' access to pull requests

jobs:
  GitActionTest:
    runs-on: ubuntu-latest
    steps:

      - name: my_step
        env:
          scrapped_from_date: ${{ secrets.SCRAPPED_FROM_DATE }}
        run: |
          echo "Hello World, date is $scrapped_from_date"
          echo "The repository is: $GITHUB_REPOSITORY"
          echo "The ref is : $GITHUB_REF, ${{ github.ref }}"

      # - name: checkout repository content
      #   uses: actions/checkout@v4 # checkout the repository content to github runner
      #   with:
      #     fetch-depth: 0
      #     ref: ${{ github.head_ref }}

      # - name: setup python
      #   uses: actions/setup-python@v5
      #   with:
      #     python-version: '3.13' # install the python version needed
          
      # - name: install python packages
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt
          
      # - name: execute py script # run main.py
      #   env:
      #     scrapped_from_date: ${{ secrets.SCRAPPED_FROM_DATE }}
      #   run: python News_collector.py
          
      # - name: commit files
      #   run: |    # adding all files and folders to staging first before commit
      #     git config --local user.email "scheduled_action@github.com"
      #     git config --local user.name "GitHub Action"
      #     git add -a          
      #     git diff-index --quiet HEAD || (git commit -a -m "Add new content" --allow-empty)
          
      # - name: push changes
      #   uses: chuash/Github_Actions@main
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}  # automatically generated by Github, no further action
      #     branch: ${{ github.head_ref }}