name: run News_collector.py

on:
  schedule:
    - cron: '0 0 * * *' # At 00:00 UTC or SGT 08:00 every day
    
  workflow_dispatch:

permissions:                    # Global permissions configuration starts here
  contents: write                # 'read' access to repository contents
  pull-requests: write          # 'write' access to pull requests

jobs:
  WebScraping:
    runs-on: ubuntu-latest
    steps:

      - name: my_step
        env:
          scrapped_from_date: ${{ secrets.SCRAPPED_FROM_DATE }}
        run: |
          echo "Hello World, date is $scrapped_from_date"
          echo "The repository is: $GITHUB_REPOSITORY"
          echo "The ref is : $GITHUB_REF, ${{ github.ref }}"
          echo "The repository is: $GITHUB_REPOSITORY"
          echo "The commit SHA is: $GITHUB_SHA"
          echo "The actor is: $GITHUB_ACTOR"

      - name: Checkout repository
        uses: actions/checkout@v4 # Action to access repo files
        with:
          # Crucial for pushing changes: use the GITHUB_TOKEN
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13' # install the python version needed
          
      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Execute py script 
        env:
          SCRAPPED_FROM_DATE: ${{ secrets.SCRAPPED_FROM_DATE }}
        run: python News_collector.py
          
      - name: Commit and push changes
        run: |    # adding all files and folders to staging first before commit
          git config --local user.email "scheduled_action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -a -m "Automated update from Python script" --allow-empty     # Use --allow-empty to avoid errors if no changes occurred          
          git push